apiVersion: apps/v1
kind: Deployment
metadata:
  name: maestro-agent
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "maestro-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "maestro-agent.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "maestro-agent.serviceAccountName" . }}
      containers:
      - name: maestro-agent
        image: {{ include "maestro-agent.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          - name: "MAESTRO_ENV"
            value: {{ .Values.environment | quote }}
          - name: CERT_CALLBACK_REFRESH_DURATION
            value: {{ .Values.clientCertRefreshDuration | quote}}
        command:
          - /usr/local/bin/maestro
          - agent
          - --consumer-name={{ .Values.consumerName }}
          - --workload-source-driver={{ .Values.messageBroker.type }}
          - --workload-source-config=/secrets/{{ .Values.messageBroker.type }}/config.yaml
          - --cloudevents-client-id={{ .Values.consumerName }}-work-agent
          - -v={{ .Values.logging.klogV }}
        volumeMounts:
        - name: {{ .Values.messageBroker.type }}
          mountPath: /secrets/{{ .Values.messageBroker.type }}
        {{- if and (eq .Values.messageBroker.type "mqtt") .Values.messageBroker.mqtt.rootCert }}
        - name: mqtt-certs
          mountPath: /secrets/mqtt-certs
          readOnly: true
        {{- end }}
        {{- if and (eq .Values.messageBroker.type "grpc") .Values.messageBroker.grpc.tls.caCert }}
        - name: grpc-broker-cert
          mountPath: /secrets/grpc-broker-cert
          readOnly: true
        {{- end }}
      volumes:
      - name: {{ .Values.messageBroker.type }}
        secret:
          secretName: maestro-agent-{{ .Values.messageBroker.type }}
      {{- if and (eq .Values.messageBroker.type "mqtt") .Values.messageBroker.mqtt.rootCert }}
      - name: mqtt-certs
        secret:
          secretName: maestro-agent-certs
      {{- end }}
      {{- if and (eq .Values.messageBroker.type "grpc") .Values.messageBroker.grpc.tls.caCert }}
      - name: grpc-broker-cert
        secret:
          secretName: maestro-grpc-broker-cert
      {{- end }}
