---
apiVersion: v1
kind: Secret
metadata:
  name: maestro-agent-grpc
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    url: {{ .Values.messageBroker.grpc.url }}
---
apiVersion: v1
kind: Secret
metadata:
  name: maestro-agent-mqtt
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    brokerHost: {{ .Values.messageBroker.mqtt.host }}:{{ .Values.messageBroker.mqtt.port }}
    {{- if .Values.messageBroker.mqtt.user }}
    username: {{ .Values.messageBroker.mqtt.user }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.password }}
    password: {{ .Values.messageBroker.mqtt.password }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.rootCert }}
    caFile: {{ .Values.messageBroker.mqtt.rootCert }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.clientCert }}
    clientCertFile: {{ .Values.messageBroker.mqtt.clientCert }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.clientKey }}
    clientKeyFile: {{ .Values.messageBroker.mqtt.clientKey }}
    {{- end }}
    topics:
      sourceEvents: sources/maestro/consumers/{{ .Values.consumerName }}/sourceevents
      agentEvents: sources/maestro/consumers/{{ .Values.consumerName }}/agentevents
---
apiVersion: v1
kind: Secret
metadata:
  name: maestro-agent-pubsub
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    {{- if .Values.messageBroker.pubsub.projectID }}
    projectID: {{ .Values.messageBroker.pubsub.projectID }}
    {{- end }}
    {{- if .Values.messageBroker.pubsub.credentialsJSON }}
    credentialsFile: /secrets/pubsub/credentials.json
    {{- end }}
    topics:
      sourceEvents: maestro-{{ .Values.consumerName }}-source
      agentEvents: maestro-{{ .Values.consumerName }}-agent
  {{- if .Values.messageBroker.pubsub.credentialsJSON }}
  credentials.json: {{ .Values.messageBroker.pubsub.credentialsJSON }}
  {{- end }}
