{{- if eq .Values.messageBroker.type "grpc" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: maestro-agent-grpc
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    url: {{ .Values.messageBroker.grpc.url }}
    {{- if .Values.messageBroker.grpc.tls.caCert }}
    caFile: {{ .Values.messageBroker.grpc.tls.caCert }}
    {{- end }}
    {{- if .Values.messageBroker.grpc.tls.clientCert }}
    clientCertFile: {{ .Values.messageBroker.grpc.tls.clientCert }}
    {{- end }}
    {{- if .Values.messageBroker.grpc.tls.clientKey }}
    clientKeyFile: {{ .Values.messageBroker.grpc.tls.clientKey }}
    {{- end }}
{{- end }}
{{- if eq .Values.messageBroker.type "mqtt" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: maestro-agent-mqtt
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    brokerHost: {{ .Values.messageBroker.mqtt.host }}:{{ .Values.messageBroker.mqtt.port }}
    {{- if .Values.messageBroker.mqtt.user }}
    username: {{ .Values.messageBroker.mqtt.user }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.password }}
    password: {{ .Values.messageBroker.mqtt.password }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.rootCert }}
    caFile: {{ .Values.messageBroker.mqtt.rootCert }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.clientCert }}
    clientCertFile: {{ .Values.messageBroker.mqtt.clientCert }}
    {{- end }}
    {{- if .Values.messageBroker.mqtt.clientKey }}
    clientKeyFile: {{ .Values.messageBroker.mqtt.clientKey }}
    {{- end }}
    topics:
      sourceEvents: sources/maestro/consumers/{{ .Values.consumerName }}/sourceevents
      agentEvents: sources/maestro/consumers/{{ .Values.consumerName }}/agentevents
{{- end }}
{{- if eq .Values.messageBroker.type "pubsub" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: maestro-agent-pubsub
  labels:
    {{- include "maestro-agent.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    {{- if .Values.messageBroker.pubsub.projectID }}
    projectID: {{ .Values.messageBroker.pubsub.projectID }}
    {{- end }}
    {{- if .Values.messageBroker.pubsub.credentialsJSON }}
    credentialsFile: {{ .Values.messageBroker.pubsub.credentialsFile }}
    {{- end }}
    {{- if .Values.messageBroker.pubsub.topics }}
    topics:
      {{- if .Values.messageBroker.pubsub.topics.agentEvents }}
      agentEvents: {{ .Values.messageBroker.pubsub.topics.agentEvents }}
      {{- end }}
      {{- if .Values.messageBroker.pubsub.topics.agentBroadcast }}
      agentBroadcast: {{ .Values.messageBroker.pubsub.topics.agentBroadcast }}
      {{- end }}
    {{- end }}
    {{- if .Values.messageBroker.pubsub.subscriptions }}
    subscriptions:
      {{- if .Values.messageBroker.pubsub.subscriptions.sourceEvents }}
      sourceEvents: {{ .Values.messageBroker.pubsub.subscriptions.sourceEvents }}
      {{- end }}
      {{- if .Values.messageBroker.pubsub.subscriptions.sourceBroadcast }}
      sourceBroadcast: {{ .Values.messageBroker.pubsub.subscriptions.sourceBroadcast }}
      {{- end }}
    {{- end }}
  {{- if .Values.messageBroker.pubsub.credentialsJSON }}
  credentials.json: {{ .Values.messageBroker.pubsub.credentialsJSON | quote }}
  {{- end }}
{{- end }}
