{{- if and (eq .Values.messageBroker.type "grpc") .Values.grpc.enabled -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.messageBroker.secretName }}
  labels:
    {{- include "maestro-server.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    url: {{ .Values.grpc.url }}
{{- end }}
