{{- if eq .Values.messageBroker.type "grpc" -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.messageBroker.secretName }}
  labels:
    {{- include "maestro-server.labels" . | nindent 4 }}
stringData:
  config.yaml: |
    url: {{ .Values.messageBroker.grpc.url }}
{{- end }}
