{{- if .Values.mosquitto.enabled -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.mosquitto.service.name }}
  labels:
    {{- include "maestro-server.labels" . | nindent 4 }}
  annotations:
    template.openshift.io/expose-uri: tcp://{.spec.clusterIP}:{.spec.ports[?(.name==\mosquitto\)].port}
spec:
  ports:
  - name: mosquitto
    protocol: TCP
    port: {{ .Values.mosquitto.service.port }}
    targetPort: {{ .Values.mosquitto.service.port }}
  selector:
    name: {{ .Values.mosquitto.service.name }}
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.mosquitto.service.name }}
  labels:
    {{- include "maestro-server.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{ .Values.mosquitto.service.name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: {{ .Values.mosquitto.service.name }}
    spec:
      serviceAccountName: {{ include "maestro-server.serviceAccountName" . }}
      containers:
      - image: {{ .Values.mosquitto.image }}
        imagePullPolicy: IfNotPresent
        name: mosquitto
        ports:
        - containerPort: {{ .Values.mosquitto.service.port }}
          name: mosquitto
        volumeMounts:
        - name: mosquitto-persistent-storage
          mountPath: /mosquitto/data
        - name: mosquitto-config
          mountPath: /mosquitto/config/mosquitto.conf
          subPath: mosquitto.conf
        {{- if .Values.mosquitto.tls.enabled }}
        - name: mosquitto-certs
          mountPath: /mosquitto/certs
          readOnly: true
        {{- end }}
      volumes:
      - name: mosquitto-persistent-storage
        emptyDir: {}
      - name: mosquitto-config
        configMap:
          name: {{ .Values.mosquitto.service.name }}
      {{- if .Values.mosquitto.tls.enabled }}
      - name: mosquitto-certs
        secret:
          secretName: maestro-mqtt-certs
      {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.mosquitto.service.name }}
  labels:
    {{- include "maestro-server.labels" . | nindent 4 }}
data:
  mosquitto.conf: |
    listener {{ .Values.mosquitto.service.port }} 0.0.0.0
    {{- if .Values.mosquitto.tls.enabled }}
    cafile /mosquitto/certs/ca.crt
    certfile /mosquitto/certs/server.crt
    keyfile /mosquitto/certs/server.key
    require_certificate true
    use_identity_as_username true
    {{- else }}
    allow_anonymous true
    {{- end }}
{{- end }}
